// Example usage
body {
  font-family: $font-roboto-mono;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-inter;
  font-weight: 900; // ensures bold weight
}

.hero {
  background: $hero-gradient;
  color: white;
  position: relative;

  h1 {
    text-align: left;
    font-family: $font-inter;
    font-size: 74px;
    color: $text-color-light;
    font-weight: 900;
    letter-spacing: -1.07px;
    text-transform: uppercase;
    line-height: 65px;

    @media (max-width: 430px) {
      font-size: 38px;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;

      br {
        display: none;
      }
    }
    @media (max-width: 768px) {
      font-size: 38px;
      color: $text-color-light;
      font-weight: 900;
      letter-spacing: -1.07px;
      text-transform: uppercase;
      line-height: 43px;
    }
  }

  p {
    font-family: $font-roboto-mono-regular;
    color: $text-color-white;
    font-weight: 400;
    margin-top: 1rem;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;

    @media (max-width: 430px) {
      font-size: 14px;
      text-align: center;
    }
  }

  .hero-cta-btn {
    width: 314px;
    height: 58px;
    border-radius: 35px;
    background-color: $bg-color-yellow;
    color: $text-color-black;
    font-family: $font-inter;
    font-weight: 400;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s ease;

    &:hover {
      background-color: $bg-color-yellow-hover;
    }
  }

  // ✅ Hero image overlap styling
  .hero-img {
    width: -webkit-fill-available;
    height: auto;

    z-index: 1;
    transition: all 0.3s ease;

    @media (max-width: 430px) {
      display: none !important; // ✅ hide right hero image on mobile
    }

    @media (max-width: 768px) {
      display: block; // ✅ hide right hero image on mobile
      top: -166px;
      left: -61px;
      width: 137%;
    }
  }

  .hero-img-mobile {
    display: none;

    @media (max-width: 430px) {
      display: block; // ✅ hide right hero image on mobile
    }
  }
}

.hero-container {
  position: relative;
}

.comments-container {
  margin-top: 8rem;

  img {
    max-width: 100%;
  }

  p {
    font-family: $font-roboto-mono-regular;
    color: $text-color-white;
    font-size: 16px;
    margin: 0.7rem 0;
  }

  .comment-author {
    display: inline-flex; // ✅ makes image + text inline
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 1rem;

    .author-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      margin: 0;
      font-weight: 500;
      font-family: $font-inter;
      color: $text-color-light;
    }
  }

  @media (max-width: 430px) {
    margin-top: 2rem;
  }

  @media (max-width: 768px) {
    margin-top: 2rem;
  }
}

.padded-row {
  padding-left: 20px;
  padding-right: 20px;

  // Optional: responsive padding
  @media screen and (min-width: 640px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1024px) {
    padding: 60px 102px 20px 102px;
  }
}
