/* Global Colors  */
$primary-color: #f5820f;
$secondary-color: #29d837;
$text-color: #333;
$text-color-white: #fff;
$text-color-black: #000;
$dark-color: rgba(46, 48, 46, 1);
$text-color-light: #fffaf6;

// Hover BG Color
$bg-color-yellow-hover: #e6a700;

/* BG Colors Start  */
$bg-light: #eff7fa;
$bg-color-white: #fff;
$bg-color-yellow: #ffba00;
$bg-color-dark-grey: #222430;
$bg-color-light-grey: #222430d9;

// Font Families
$font-inter: "Inter", sans-serif;
$font-roboto-mono: "Roboto Mono", monospace;
$font-roboto-mono-regular: "Roboto Mono", monospace; // weight 400
$font-roboto-mono-bold: "Roboto Mono", monospace; // weight 700

/* Hero Gradient  */
$hero-gradient: linear-gradient(
  232deg,
  rgba(70, 78, 112, 1) 0%,
  rgba(32, 55, 70, 1) 100%
);
